.filters-projects {
	padding-top: 94px;
	margin-bottom: 94px;
}

.filters {
	padding-bottom: 50px;

	.list {
		display: flex;
		justify-content: center;
	}

	.item {
		margin-right: 8px;
	}

	.button {
		text-align: center;
		color: $main-text-color;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.62;

		background-color: #f5f4fa;

		&:hover,
		&:focus {
			color: $text-white-color;
			background-color: $acent-text-color;
			transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}
}
