.input-conteiner-join {
	display: block;
	width: 300px;
}

.input-container-subscribe {
	margin-left: auto;
}
.subscribe-form {
	display: flex;
	flex-wrap: nowrap;
}

.subscribe-input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	outline: none;
	width: 358px;
	height: 50px;
	background-color: $footer-background-color;
	margin-right: 12px;
	padding-left: 16px;

	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $text-white-color;

	&::placeholder {
		font-family: Roboto;
		font-weight: normal;
		font-size: 16px;
		line-height: 1.25;
		display: flex;
		align-items: center;
		letter-spacing: 0.03em;

		color: rgba(255, 255, 255, 0.6);
	}

	
}

.subscribe-btn {
	display: inline-flex;

	&:hover {
		fill: $acent-text-color;
	}
}

.subscribe-btn-svg {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: currentColor;
}
